@font-face {
  font-family: CustomFont;
  src: url("../../Font/Atkinson-Hyperlegible-Regular-102a.woff2");
}
body {
  font-family: CustomFont;
  padding: 0px;
  background-color: white;
}

#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: #000000;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
}

#unity-container {
  padding-top: 0px;
}

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  color: chartreuse;
  padding: 50px;
}

#sträck {
  text-align: center;
}

#textZone {
  flex: grow 1;
  height: 100%;
  width: 30%;
  background-color: blueviolet;
  color: chartreuse;
}
#gameZone {
  flex: grow 2;
}
h1 {
  justify-content: left;

  font-size: 60px;
  color: chartreuse;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  margin-left: 00px;
  margin-right: 00px;
  margin-top: 35px;
}
p {
  padding: 10px;
  font-size: large;
}
nav {
  display: flex;
  justify-content: left;
}

a:hover {
  background-color: black;
}
nav li {
  list-style: none;
  display: inline-block;
  color: chartreuse;
}
nav li a {
  color: chartreuse;
  background-color: purple;
  font-size: large;
}
